<nav class="navbar header-navbar scrolling-navbar navbar-expand-lg navbar-dark sticky-top">
    <!-- [class.header_change]="header_variable" -->
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">
            <img src="assets/img/logo.webp" alt="" width="200" height="100">
        </a> -->
        <a class="navbar-brand" href="#">ZigbMax</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" (click)="toInicio()">
                    <a class="nav-link active" routerLink='inicio'>Home</a>
                </li>
                <li class="nav-item" (click)="toAboutUs()">
                    <a class="nav-link active" routerLink='inicio'>About us</a>
                </li>
                <li class="nav-item" (click)="toSecurity()">
                    <a class="nav-link active" routerLink='inicio'>Security</a>
                </li>
                <li class="nav-item" (click)="toSolutions()">
                    <a class="nav-link active" routerLink='solutions'>Solutions</a>
                </li>
                <li class="nav-item" (click)="toSectors()">
                    <a class="nav-link active" routerLink='inicio'>Sectors</a>
                </li>
                <li class="nav-item" (click)="toContact()">
                    <a class="nav-link active" routerLink='inicio'>Contact</a>
                </li>


            </ul>

        </div>
    </div>
</nav>