<header>
    <nav class="navbar header-navbar scrolling-navbar navbar-expand-lg navbar-dark  fixed-top" [class.header_change]="header_variable">
        <!-- [class.header_change]="header_variable" -->
        <!-- [ngsRevealSet]="{ reset:true, duration:2000, origin:'top', distance:'100px'}" [ngsSelector]="'.navbar'" -->
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">
            <img src="assets/img/logo.webp" alt="" width="200" height="100">
        </a> -->
            <!-- <a class="navbar-brand" href="#">ZigbMax</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" (click)="toInicio()">
                        <a class="nav-link active" routerLink='Inicio'>{{"NAVBAR.HOME" | translate}}</a>
                        <!-- <div>{{ 'HELLO' | translate }}</div> -->
                    </li>
                    <li class="nav-item" (click)="toAboutUs()">
                        <a class="nav-link active" routerLink='Inicio'>{{"NAVBAR.ABOUTUS" | translate}}</a>
                    </li>

                    <li class="nav-item dropdown " (click)="toSoluciones()">
                        <a class="nav-link dropdown-toggle" routerLink='LPWAN Seguridad' href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{"NAVBAR.SOLUTIONS" | translate}}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <!-- TODO Sensores LPWAN para seguridad -->
                            <li class="dropdown-submenu dropstart">
                                <a href="#" class="dropdown-item dropdown-toggle" routerLink='LPWAN Seguridad' href="#">{{"DROPDOWN.SECURITY" | translate}}</a>
                                <ul class="dropdown-menu">

                                    <li><a class="dropdown-item" routerLink='ATMSENSE-SIGFOX' href="#">AMTsense Sigfox</a></li>
                                    <li><a class="dropdown-item" routerLink='ATMSENSE-SLAVE' href="#">ATMsense Slave </a></li>
                                    <li><a class="dropdown-item" routerLink='VAULTSENSE-SIGFOX' href="#">VAULTsense Sigfox</a></li>
                                    <li><a class="dropdown-item" routerLink='DROPSAFE-SIGFOX' href="#">DROPsafe Sigfox</a></li>
                                </ul>
                            </li>
                            <!-- TODO Sensores LPWAN para cadena frio -->
                            <li class="dropdown-submenu dropstart">
                                <a href="#" class="dropdown-item dropdown-toggle" routerLink='LPWAN Cadena Frio' href="#">{{"DROPDOWN.COLD" | translate}}</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink='TEMPSENSE I SIGBFOX' href="#">TEMPsense I Sigbfox</a></li>
                                </ul>
                            </li>
                            <!-- TODO Sensores Para mantenimiento predictivo -->
                            <li class="dropdown-submenu dropstart">
                                <a href="#" class="dropdown-item dropdown-toggle" routerLink='Mantenimiento Predictivo' href="#">{{"DROPDOWN.PREDICTIVE" | translate}}</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink='CORRIENTE ALTERNA' href="#">{{"DROPDOWN-CHILD.PREDICTIVE-TITLE1" | translate}}</a></li>
                                    <li>
                                        <a class="dropdown-item" routerLink='AGUAS RESIDUALES' href="#">{{"DROPDOWN-CHILD.PREDICTIVE-TITLE2" | translate}}</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" routerLink='BANDAS DE RONDAMIENTOS' href="#">{{"DROPDOWN-CHILD.PREDICTIVE-TITLE3" | translate}}</a>
                                    </li>
                                </ul>
                            </li>

                            <!-- TODO Sensores Para el Monitoreo de Infraestructoras -->
                            <li class="dropdown-submenu dropstart">
                                <a href="#" class="dropdown-item dropdown-toggle" routerLink='Monitoreo de Infraestructuras' href="#">{{"DROPDOWN.INFRASTRUCTURES" | translate}}</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" routerLink='MONITORES DE ESTRUCTURAS DE CONCRETO' href="#">{{"DROPDOWN-CHILD.INFRASTRUCTURES-TITLE1" | translate}}</a></li>
                                    <li><a class="dropdown-item" routerLink='MONITORES DE ESTRUCTURAS METALICAS' href="#">{{"DROPDOWN-CHILD.INFRASTRUCTURES-TITLE2" | translate}}</a></li>
                                    <li><a class="dropdown-item" routerLink='MONITORES DE PUENTES VIALES' href="#">{{"DROPDOWN-CHILD.INFRASTRUCTURES-TITLE3" | translate}}</a></li>
                                </ul>
                            </li>


                            <!-- <li class="dropdown-submenu dropstart">
                                <a href="#" class="dropdown-item dropdown-toggle" href="#"> submenu</a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item" href="#">submenu 0</a></li>
                                    <li><a class="dropdown-item" href="#">submenu 1</a></li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">submenu 2</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">submenu 2.1</a></li>
                                            <li><a class="dropdown-item" href="#">submenu 2.2</a></li>
                                            <li><a class="dropdown-item" href="#">submenu 2.3</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a class="dropdown-item dropdown-toggle" href="#">submenu 3</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">submenu 3.1</a></li>
                                            <li><a class="dropdown-item" href="#">submenu 3.2</a></li>
                                            <li><a class="dropdown-item" href="#">submenu 3.3</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li> -->

                        </ul>

                    </li>

                    <li class="nav-item" (click)="toNoticias()">
                        <a class="nav-link active" routerLink='Noticias'>{{"NAVBAR.NEWS" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink='Eventos'>{{"NAVBAR.EVENTS" | translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink='Videos'>{{"NAVBAR.VIDEOS" | translate}}</a>
                    </li>
                    <li class="nav-item" (click)="toContact()">
                        <a class="nav-link active" routerLink='Inicio'>{{"NAVBAR.CONTACT" | translate}}</a>
                    </li>









                    <select class="form-select select-language " aria-label="Default select example" #langSelect (change)="changeLang(langSelect.value)">
                        <!-- <option selected>Language</option> -->
        <option *ngFor="let lang of langs" [value]="lang">
            {{lang}}
        </option> 
      </select>


                    <!-- <li class="nav-item" (click)="toSecurity()">
                        <a class="nav-link active" routerLink='inicio'>Seguridad</a>
                    </li> -->
                    <!-- <li class="nav-item" (click)="toSolutions()">
                        <a class="nav-link active" routerLink='solutions'>Solutions</a>
                    </li> -->

                    <!-- <li class="nav-item" (click)="toSectors()">
                        <a class="nav-link active" routerLink='inicio'>Sectores</a>
                    </li> -->


                </ul>
            </div>
        </div>
    </nav>
</header>