<div class="container card-solutions-ATMsense" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.card'">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    <img src="../../../../assets/img/ATMsense-Slave.jpg" alt="">

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ATMsense Slave</h5>
                    <p class="card-text">El ATMsense-Slave es compatible con todos losSistemas de alarmas del mercado. Para protección de Cajeros Automáticos.Características generales:Sensor dual de temperatura, Vibración, detección de Inclinación, detección de gases explosivos,2
                        Zonas de alarma supervisada y cuentaCon la tecnologías MagneticSafe.</p>

                </div>
            </div>
        </div>

    </div>
</div>