<div class="container card-solutions-ATMsense" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.card'">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">

                    <img src="../../../../assets/img/ATMsense-LPWAN.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ATMsense LPWAN</h5>
                    <p class="card-text">ATMsense Sensor Inteligente Wireless Sigfox Para protección de Cajeros Automáticos.El ATMsense no necesita del panel de alarma paraComunicarse a la central de monitoreo.Características generales:Sensor con analíticos de temperatura,
                        Vibración, detección de Inclinación, detección de gases explosivos,1 Zona de alarma supervisada, 1 Zona de Keyswitch para Armado/desarmado y cuentaCon la tecnologías MagneticSafe.</p>

                </div>
            </div>
        </div>
    </div>
</div>