<section class="animated fadeIn" id="soluciones">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
            <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item Texto-Efecto active   video ">
                <video src="assets/videos/Sensores-video.mp4" class="d-block" [muted]="'muted'" autoplay loop></video>





                <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.carousel-caption'">


                </div>
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>
</section>
<!-- *FORMULARIO -->
<section id="contact" class="contenido-sections Formulario card-transition ">
    <div class="container">
        <div class="row">

            <div class="col">
                <h1>for more information</h1>
                <h2>please fill out bellow</h2>
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <form>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput" class="text-muted">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput" class="text-muted">Last Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput" class="text-muted">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" id="floatingInput" placeholder="name@example.com">
                                    <label for="floatingInput" class="text-muted">Phone</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea" class="text-muted">Message</label>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="button" class="btn  btn-lg">Send Message</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="col">
                <h1>inquiries</h1>
                <hr class="separadorr">
                <h2>corporate office</h2>

                <p>21 Pinewood Ave Clearwater, FL 33765</p>
                <p>Tel: (321) 423-9271 <br> (727) 623-3463</p>
                <img src="assets/img/logo.webp" alt="">


            </div> -->
        </div>
    </div>
</section>