<!-- *INICIO DE HOME -->


<section class="animated fadeIn" id="home">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">
            <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> -->
            <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item Texto-Efecto active   video ">
                <video src="assets/videos/video2.mp4" class="d-block" [muted]="'muted'" autoplay loop></video>


                <div class="blink_me1 texto-syle">LPWAN</div>
                <div class="blink_me7 texto-syle">RED 0G</div>
                <div class="blink_me2 texto-syle">REDES 0G</div>
                <div class="blink_me3 texto-syle">RED 0G</div>
                <div class="blink_me4 texto-syle">SigFox</div>
                <div class="blink_me5 texto-syle">ZigbMax Technology</div>
                <div class="blink_me6 texto-syle">Protección para ATMs</div>
                <div class="blink_me9 texto-syle">MONITOREO CRITICO</div>
                <div class="blink_me10 texto-syle">SENSORES INTELIGENTES</div>
                <div class="blink_me11 texto-syle">PROTECCIÓN DE BÓVEDAS</div>
                <div class="blink_me12 texto-syle">RED 0G</div>
                <div class="blink_me8 texto-syle">LORAWAN</div>
                <div class="blink_me13 texto-syle">LTE-CAT1 nbiot</div>
                <div class="blink_me14 texto-syle">Mantenimiento Predictivo</div>



                <!-- <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block">
                    <h5>Security Experts Specializing In <br> ATM Security</h5>


                </div> -->
            </div>
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
    </div>
</section>

<!-- <div class="contenedor">
    <div class="sliderauto">

    </div>
</div> -->

<!-- *ARTIFICIAL INTELIGENCE -->
<!-- <section class="contenido-sections Ai">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Today's security with tomorrow's technology</h1>
                <hr class="separadorr">
                <img src="assets/img/Ai.webp" alt="">
            </div>

            <div class="col ">
                <h2>Artificial <br> Intelligence</h2>
                <p>Every one of our Security Solutions are built on Next-Gen AI. It's core is precisely built on Artificial Inteligence with capabilities never before seen.
                </p>
            </div>
        </div>
    </div>
</section> -->


<div class="container titulo-home" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.titulo-home'">
    <h1>Today's security with tomorrow's technology</h1>

</div>




<div class="card card-transition container mb-3  card-3sections" style="max-width: 800px;" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.card-transition'">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/img/Ai.webp" class="img-fluid" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Artificial Intelligence</h5>
                <p class="card-text">Every one of our Security Solutions are built on Next-Gen AI. It's core is precisely built on Artificial Inteligence with capabilities never before seen.</p>

            </div>
        </div>
    </div>
</div>
<div class="card card-transition container mb-3 card-3sections" style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Global solutions</h5>
                <p class="card-text">We have a profound understanding & expertise central to avoid commiting fraud with Automater Taller Machines.</p>

            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/global-solutions.webp" class="card-img" alt="...">
        </div>

    </div>
</div>
<div class="card card-transition container mb-3 card-3sections " style="max-width: 800px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="assets/img/atm-security.webp" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Expertise In ATM Security</h5>
                <p class="card-text">Our products transcend beyond the Financial Security Sector. Our ability to adapt to many different Sectors in Security, allow us to shape the Future of Security.</p>

            </div>
        </div>
    </div>
</div>



<!-- *GLOBAL SOLUTIONS -->
<!-- <section class="contenido-sections Global-Solutions ">
    <div class="container-fluid">
        <div class="row">
            <div class="col ">
                <h1>Global solutions</h1>
                <hr class="separadorr">
                <p>We have a profound understanding & expertise central to avoid commiting fraud with Automater Taller Machines.
                </p>
            </div>
            <div class="col ">

                <img src="assets/img/global-solutions.webp" alt="">
            </div>


        </div>
    </div>
</section> -->

<!-- *ATM SECURITY -->
<!-- <section class="contenido-sections Atm-security">
    <div class="container-fluid">
        <div class="row ">
            <div class="col">

                <img src="assets/img/atm-security.webp" alt="">
            </div>

            <div class="col">
                <h1>Expertise In ATM Security</h1>
                <hr class="separadorr">
                <p>Our products transcend beyond the Financial Security Sector. Our ability to adapt to many different Sectors in Security, allow us to shape the Future of Security.
                </p>
            </div>
        </div>
    </div>
</section> -->

<!-- *SECTORES -->
<!-- <section id="sectors" class="contenido-sections Sectores ">
    <div class="container-fluid">
        <div class="row">
            <div>

                <h1>sectors we <br> operate in</h1>
                <hr class="separadorr">
            </div>

            <div class="col ">
                <p>Financial</p>
                <img src="assets/img/financial.webp" alt="">
            </div>
            <div class="col ">
                <p>Residential</p>
                <img src="assets/img/residential.webp" alt="">
            </div>
            <div class="col ">
                <p>Commercial</p>
                <img src="assets/img/commercial.webp" alt="">
            </div>

        </div>
    </div>
</section> -->

<!-- TODO CARD SECTORES -->

<div id="sectors" class="card-sectors card-transition">
    <div class="container  ">
        <h1>sectors we operate in</h1>

        <div class="row container row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="assets/img/financial.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Financial</h5>

                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="assets/img/residential.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Residential</h5>

                    </div>

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="assets/img/commercial.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Commercial</h5>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- *ZIGBMAX QUIENES SOMOS -->
<!-- <section id="aboutus" class="contenido-sections AboutUs ">
    <div class="container-fluid">
        <div class="row">

            <div class="col">
                <img src="assets/img/logo.webp" alt="">
                <hr class="separadorr">
                <p>We are an Innovating Company with a profound expertise in the Security Sector. We research and develop Security solutions at all levels wether it's Financial, Commercial or the Residential Sector. We have over 30 years of Experience in
                    the Research and Development of Security Solutions. We know the market, we listen to the problems and we create the solutions for the next generation in Security. The Future is here, The Future is ZigbMax.
                </p>
                <img src="assets/img/reunion.webp" alt="">
            </div>
          
        </div>
    </div>
</section> -->

<!-- TODO CARD QUIENES SOMOS -->
<!-- <div id="aboutus" class="card mb-3 container card-nosotros">
    <img src="assets/img/logo.webp" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nosotros</h5>
        <p class="card-text">ZigbMax Technology es una empresa especializada en Sistemas de comunicaciones aplicada a la seguridad Electrónica basada en la Tecnología ESS (Embedded Security System) y Sensores inteligentes para el internet de las cosa Industrial (IioT).</p>
        <ul class="list-group">
            <li class="list-group-item">Fue fundada en los EE.UU. En el 2009 y en México en el 2012 </li>
            <li class="list-group-item">El principal negocio de nuestra organización son las soluciones OEM, ventas de licencias de manufactura de nuestros productos,Desarrollo de sensores con tecnologías Wi-FI, Bluetooth, Lora, Lorawan, Sigfox y LTE-M1/NB-IoT.(LPWAN). </li>
            <li class="list-group-item">Nuestro foco esta orientado a:</li>
            <li class="list-group-item">Sensores de seguridad para el sectores financiero y Retail, específicamente en soluciones para ATM,Cajas Fuertes y Bóvedas.Sensores iiot para los sectores Retail, Industrial y Hospitality</li>

        </ul>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div> -->


<div id="aboutus" class="card-nosotros card-transition">

    <div class="container  ">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/img/logo.webp" class="img-fluid" alt="...">
                        <!-- <h5 class="card-title">Nosotros</h5> -->
                        <p class="card-text">ZigbMax Technology es una empresa especializada en Sistemas de comunicaciones aplicada a la seguridad Electrónica basada en la Tecnología ESS (Embedded Security System) y Sensores inteligentes para el internet de las cosa Industrial
                            (IioT).
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Fue fundada en los EE.UU. En el 2009 y en México en el 2012. </li>
                            <li class="list-group-item">El principal negocio de nuestra organización son las soluciones OEM, ventas de licencias de manufactura de nuestros productos,Desarrollo de sensores con tecnologías Wi-FI, Bluetooth, Lora, Lorawan, Sigfox y LTE-M1/NB-IoT.(LPWAN).
                            </li>
                            <li class="list-group-item">Nuestro foco esta orientado a:</li>
                            <li class="list-group-item">Sensores de seguridad para el sectores financiero y Retail, específicamente en soluciones para ATM,Cajas Fuertes y Bóvedas.Sensores iiot para los sectores Retail, Industrial y Hospitality.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- *FECHAS EXPERIENCIA  -->

<div class="contador  parallax" onmouseover="contador()">
    <div class="container ">
        <ul class="resumen-evento clearfix ">
            <li>

                <p class="numero counter" data-cantidad-total="2019">0</p>Year Established</li>
            <li>

                <p class="numero counter" data-cantidad-total="35">0</p>Years of combined Experience</li>
            <li>

                <p class="numero counter" data-cantidad-total="7">0</p>Current Projects</li>
            <li>

                <p class="numero counter " data-cantidad-total="2020">0</p>Expected Release</li>
        </ul>
    </div>
</div>




<!-- *SECURITY SOLUTIONS -->
<!-- <section id="security" class="contenido-sections Security-solutions">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Security solutions for atms</h1>
                <hr class="separadorr">
                <div class="menu">
                    <ul>
                        <li>Anti-Skimmer Alert</li>
                        <li>flammable gas detector</li>
                        <li>movement detector</li>
                        <li>vibration doctor</li>
                        <li>atm watchdog</li>
                        <li>false alarm filter detector</li>
                        <li>ai alarm system for atms</li>
                        <li>atmgateway-lte-m</li>
                        <li>atmconnect services</li>
                        <li>heavy duty backup power supply</li>
                        <li>global atm locator</li>
                    </ul>
                </div>

            </div>
            <div class="col">
                <img src="assets/img/cajeroatm.png" alt="">
            </div>
        </div>
    </div>
</section> -->









<div id="security" class="card-solutionsforatms" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.card-solutionsforatms'">

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Security solutions for atms</h5>
                        <!-- <div class="menu">
                            <ul>
                                <li>Anti-Skimmer Alert</li>
                                <li>flammable gas detector</li>
                                <li>movement detector</li>
                                <li>vibration doctor</li>
                                <li>atm watchdog</li>
                                <li>false alarm filter detector</li>
                                <li>ai alarm system for atms</li>
                                <li>atmgateway-lte-m</li>
                                <li>atmconnect services</li>
                                <li>heavy duty backup power supply</li>
                                <li>global atm locator</li>
                            </ul>
                        </div> -->
                        <ul class="list-group fondo-tabla">



                            <li class="list-group-item fondo-tabla">Anti-Skimmer Alert</li>
                            <li class="list-group-item fondo-tabla">flammable gas detector</li>
                            <li class="list-group-item fondo-tabla">movement detector</li>
                            <li class="list-group-item fondo-tabla">atm watchdog</li>
                            <li class="list-group-item fondo-tabla">false alarm filter detector</li>
                            <li class="list-group-item fondo-tabla">ai alarm system for atms</li>
                            <li class="list-group-item fondo-tabla">atmgateway-lte-m</li>
                            <li class="list-group-item fondo-tabla">atmconnect services</li>
                            <li class="list-group-item fondo-tabla">heavy duty backup power supply</li>
                            <li class="list-group-item fondo-tabla">global atm locator</li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="assets/img/cajeroatm.png" class="card-img" alt="...">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO FUTURO DE ARM SECURITY CARD -->
<div class="card-futureatm">

    <div class="card container card-transition" style="width: 50%;">
        <div class="card-body">
            <h5 class="card-title">The future of atm security is here today</h5>
            <p class="card-text">Our expertise in atm security has allowed innovation and never before seen technology to elevate your atm security to the next level. We specialize in all levels of external & internal machines for the financial sector. The transmission of
                data and alarm events are done through internet, lte-m, sigfox or lorawan.</p>
        </div>
    </div>
</div>



<!-- TODO SECURITY SOLUTIONS CARD -->
<!-- <div class="card bg-dark text-white">
    <img src="..." class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div> -->

<!-- *EL FUTURO DE ATM SECURITY -->
<!-- <section class="contenido-sections future-Atmsecurity ">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>The future of atm security is here today</h1>
                <hr class="separadorr">
                <p>Our expertise in atm security has allowed innovation and never before seen technology to elevate your atm security to the next level. We specialize in all levels of external & internal machines for the financial sector. <br> The transmission
                    of data and alarm events are done through internet, lte-m, sigfox or lorawan.
                </p>

       

            </div>
        </div>
    </div>
</section> -->







<div class="container mapa">

    <div class="row ">

        <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19933.301532351026!2d-82.78655246384491!3d27.971150750406643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2f10251970cd5%3A0x2031decc127aa31e!2s1200%20Eldridge%20St%2C%20Clearwater%2C%20FL%2033755%2C%20EE.%20UU.!5e0!3m2!1ses-419!2smx!4v1621358511643!5m2!1ses-419!2smx"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>



<!-- *FORMULARIO -->
<section id="contact" class="contenido-sections Formulario card-transition ">
    <div class="container">
        <div class="row">

            <div class="col">
                <h1>for more information</h1>
                <h2>please fill out bellow</h2>
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <form (ngSubmit)="contactForm(form)" #form="ngForm" method="post" onsubmit="return submitUserForm();">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="firstname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">First Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lastname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">Last Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" email name="email" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="phone" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">Phone</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" ngModel required minlength="5" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea" class="text-muted">Message</label>


                                    <div class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdKUgEbAAAAAA1VZgWctCI7GO9XT9gYUp3sOno0" data-callback="verifyCaptcha">
                                        Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
                                    </div>



                                    <div id="g-recaptcha-error "></div>
                                    <div class="modal-footer d-flex justify-content-center ">
                                        <button type="submit " id="btn1" name="submit" value="submit" disabled class="btn btn-lg ">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>