<app-navbar></app-navbar>

<router-outlet></router-outlet>


<footer class="footer">

    <div class="container">

        <img src="assets/img/logo.webp" alt="">
    </div>

    <div class="container">
        <h3>Corporate Office</h3>

        <p>21 Pinewood Ave Clearwater, FL 33765</p>
        <p>Tel: (321) 423-9271 <br> (727) 623-3463</p>
    </div>


    <!-- <div class="container">
        <h3>Síguenos</h3>
        Para más contenido e información síguenos en nuestras redes sociales
        <nav class="redes-sociales">

            <a href=""> <i class="fab fa-facebook-square"></i></a>
            <a href=""> <i class="fab fa-twitter-square"></i></a>
            <a href=""> <i class="fab fa-youtube-square"></i></a>
        </nav>

    </div> -->



</footer>

<div class="derechos-reservados ">
    <div class="container-fluid">
        <div>
            <!-- <span class="firma">Desarrollador: Giovanni Daniel Brito López</span> -->
            <p class="text-derechos-reservados">&copy; Copyright ZigbMax {{fecha | date:'y'}}

            </p>

        </div>
    </div>
</div>