<section class="animated fadeIn" id="noticias">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-indicators">

        </div>
        <div class="carousel-inner">
            <div class="carousel-item Texto-Efecto active   video ">
                <video src="assets/videos/noticias-video.mp4" class="d-block" [muted]="'muted'" autoplay loop></video>

                <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block" [ngsRevealSet]="{  reset:true, duration:2000, origin:'top', distance:'300px'}" [ngsSelector]="'.carousel-caption'">
                    <h5> {{"NOTICIAS.TITLE" | translate}}</h5>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container card-videos">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <video width="320" height="240" controls>
                      <source src="https://dms.licdn.com/playlist/C5605AQG_HiLp4WMIJg/mp4-640p-30fp-crf28/0/1620095739246?e=1622307600&v=beta&t=BlOwZ4Ucz2uhsLhQDYLzrSyxnE-JMoQpDv4fcvz8_V0" type="video/mp4">
                      
                  
                    </video>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" [ngsRevealSet]="{ reset:true, duration:2000}" [ngsSelector]="'.card'">{{"NOTICIAS.TITLE-VIDEO1" | translate}}</h5>
                    <p class="card-text">{{"NOTICIAS.BODY-VIDEO1" | translate}}</p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <video width="320" height="240" controls>
                      <source src="https://scontent.cdninstagram.com/v/t50.2886-16/10000000_214039410274094_2069871626619875025_n.mp4?efg=eyJ2ZW5jb2RlX3RhZyI6InZ0c192b2RfdXJsZ2VuLjUwNC5pZ3R2LmRlZmF1bHQiLCJxZV9ncm91cHMiOiJbXCJpZ193ZWJfZGVsaXZlcnlfdnRzX290ZlwiXSJ9&_nc_ht=instagram.fcjs3-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=5aWBhFvjXIIAX_yZPxw&edm=ADECaisBAAAA&vs=18222501598006788_2936163450&_nc_vs=HBksFQAYJEdJQ1dtQUF1YndUdnFzSUFBTkZ1Vmh0SHFia2NicUNCQUFBRhUAAsgBABUAGCRHSUNXbUFCeUxoblJVWFlBQUxZcWljZDd0cXdXYnFDQkFBQUYVAgLIAQAoABgAGwGIB3VzZV9vaWwBMRUAACaIy%2FGomNHeQBUCKAJDMywXQK%2F8OVgQYk4YEmRhc2hfYmFzZWxpbmVfMl92MREAdewHAA%3D%3D&_nc_rid=e523e3b3fe&ccb=7-4&oe=60B35C5F&oh=e7e9032f79171c9114ee2f270de9262b&_nc_sid=ca78b6" type="video/mp4">
                      
                  
                    </video>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{"NOTICIAS.TITLE-VIDEO2" | translate}}</h5>
                    <p class="card-text">{{"NOTICIAS.BODY-VIDEO2" | translate}}
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <video width="320" height="240" controls>
                      <source src="https://scontent.fcjs3-1.fna.fbcdn.net/v/t66.36281-6/10000000_513055229727569_7278915658025673926_n.mp4?_nc_cat=108&ccb=1-3&_nc_sid=985c63&efg=eyJ2ZW5jb2RlX3RhZyI6Im9lcF9zZCJ9&_nc_eui2=AeG6ZTSwKAzbcuZJE5ZW04GNb-ubKa-a3tZv65spr5re1p0VC4ZhTQZvx4ENY2W7g0r5egO96jEYa66ABNF8ICiw&_nc_ohc=WGA21xmjSNUAX-fhbu0&_nc_ht=scontent.fcjs3-1.fna&oh=4b3a15033d07c659c39d86a2d5f2ba50&oe=60D734D7" type="video/mp4">
                      
                  
                    </video>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{"NOTICIAS.TITLE-VIDEO3" | translate}}</h5>
                    <p class="card-text">{{"NOTICIAS.BODY-VIDEO3" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *FORMULARIO -->
<section id="contact" class="contenido-sections Formulario card-transition ">
    <div class="container">
        <div class="row">

            <div class="col">

                <h1>{{ "FORM.TITLE1" | translate }}</h1>
                <h2>{{ "FORM.TITLE2" | translate }}</h2>
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <form (ngSubmit)="contactForm(form)" #form="ngForm" method="post" onsubmit="return submitUserForm();">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="firstname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.FIRSTNAME" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lastname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.LASTNAME" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" email name="email" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.EMAIL" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="phone" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.PHONE" | translate }}</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" ngModel required minlength="5" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea" class="text-muted">{{ "FORM.MESSAGE" | translate }}</label>


                                    <div class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdKUgEbAAAAAA1VZgWctCI7GO9XT9gYUp3sOno0" data-callback="verifyCaptcha">
                                        Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
                                    </div>



                                    <div id="g-recaptcha-error "></div>
                                    <div class="modal-footer d-flex justify-content-center ">
                                        <button type="submit " id="btn1" name="submit" value="submit" disabled class="btn btn-lg ">{{ "FORM.BUTTON" | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>