<section id="solutions" class="contenido-Solutions">
    <div class="container">
        <div class="row">
            <div class="col ">
                <h1>Solutions For The Future of Security</h1>
                <hr class="separador">
                <h3>Automated Taller Machines</h3>
            </div>
        </div>
    </div>
</section>


<section class="contenido-Solutions2 contenido-Solutions">
    <div class="container">
        <div class="row">
            <div class="col ">
                <p class="texto-solutions">Our primary focus in Security and our Expertise has allowed next generation technology to be implemented into the Automated Taller Machine. Our Security solutions are the most effective and precise in combating a number of attacks no matter
                    how big or small. When it comes to protecting your network of ATM's, ZigbMax has a solution for every problem.
                </p>
            </div>

            <div class="col">
                <img src="assets/img/cajero.webp" alt="">
            </div>
        </div>
    </div>
</section>

<!-- *GAS STATION -->
<section class="contenido-Solutions">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/img/Gaststaion.webp" alt="">
            </div>
            <div class="col ">
                <h1>Gas Stations</h1>
                <p class="texto-solutions">
                    Paying at the gas pump has a become a norm due to its convenience, especially for those in a hurry. But that convenience comes with a huge risk. Credit card skimmers are on the rise at gas stations, with the skimmers becoming more difficult to detect
                    and fraudsters using advanced technology to steal your information. However, we have developed a solution to put a stop to these criminals and to better ensure your customers are fully protected. Zigbmax is the one and only company
                    in the world with this technology that will shape the future of security of Gas station pumps.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- *MERCHANT SERVICES -->
<section class="contenido-Solutions">
    <div class="container">
        <div class="row">

            <div class="col ">
                <h1>Merchant Services</h1>
                <p class="texto-solutions">
                    There are virtually millions of merchant service processing systems in the world, but none provide full security for their customers. Fraud is increasing every year with criminals find new ways to infiltrate these devices. We have developed a service
                    to curb fraud from the point a card is swiped to the point the criminal sends a signal to obtain the information. We are proud to be the leaders in the field of security for merchant service processing systems.
                </p>
            </div>
            <div class="col ">

                <img src="assets/img/tarjeta.webp" alt="">
            </div>

        </div>
    </div>
</section>

<!-- *COMMUNICATIONS -->
<section class="contenido-Solutions">
    <h1>Communications</h1>
    <p class="texto-solutions">
        The netwotk of lot devices has expanded in the upcoming year with more devices being connected across an array of industries. We provide security solutions for those devices in many different sectors that are lacking security solutions. Our technology
        is equipped with the most advanced security that can be implemented in various industries.
    </p>
    <div class="container">
        <div class="row">


            <div class="col ">
                <img src="assets/img/communication1.webp" alt="">

            </div>
            <div class="col ">

                <img src="assets/img/communication2.webp" alt="">

            </div>
            <div class="col ">

                <img src="assets/img/communication4.webp" alt="">

            </div>

        </div>
    </div>
</section>

<!-- *POWER SUPPLY -->

<section class="contenido-Solutions">
    <div class="container">
        <div class="row">


            <div class="col ">
                <h1>Power Supply</h1>
                <p class="texto-solutions">With the increase in Technology there also comes the need in providing a reliable source of power for your security solutions. Our unique power supply ensures the maximum amount of power needed for your network of systems in place.
                </p>
                <img src="assets/img/solutions.webp" alt="">

            </div>


        </div>
    </div>
</section>