<section class="animated fadeIn" id="solutions">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-inner">
            <div class="carousel-item  active   video ">
                <video src="assets/videos/video2.mp4" class="d-block" [muted]="'muted'" autoplay loop></video>
                <div class="carousel-caption carousel-caption-inicio header-imagen-fondos  d-md-block">
                    <h5 [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">Solutions For The Future of Security</h5>



                </div>
            </div>

        </div>

    </div>
</section>


<!-- <section class="contenido-Solutions">
    <div class="container">
        <div class="row">
            <div class="col ">
                <h1>Solutions For The Future of Security</h1>
                <hr class="separador">
                <h3>Automated Taller Machines</h3>
            </div>
        </div>
    </div>
</section> -->


<section class="contenido-Solutions2 contenido-Solutions" [ngsReveal]="{reset:true, duration:2000, origin:'top', distance:'400px'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col ">
                <h1>Automated Taller Machines</h1>
                <hr class="separadorr">
                <p class="texto-solutions">Our primary focus in Security and our Expertise has allowed next generation technology to be implemented into the Automated Taller Machine. Our Security solutions are the most effective and precise in combating a number of attacks no matter
                    how big or small. When it comes to protecting your network of ATM's, ZigbMax has a solution for every problem.
                </p>
            </div>

            <div class="col">
                <img src="assets/img/cajero.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- *GAS STATION -->
<section class="contenido-Solutions gas-station" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="assets/img/Gaststaion.webp" alt="">
            </div>
            <div class="col ">
                <h1>Gas Stations</h1>
                <hr class="separadorr">
                <p class="texto-solutions">
                    Paying at the gas pump has a become a norm due to its convenience, especially for those in a hurry. But that convenience comes with a huge risk. Credit card skimmers are on the rise at gas stations, with the skimmers becoming more difficult to detect
                    and fraudsters using advanced technology to steal your information. <br> However, we have developed a solution to put a stop to these criminals and to better ensure your customers are fully protected. Zigbmax is
                    the one and only company in the world with this technology that will shape the future of security of Gas station pumps.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- *MERCHANT SERVICES -->
<section class="contenido-Solutions merchant-services" [ngsReveal]="{reset:true, duration:2000, origin:'left', distance:'400px'}">
    <div class="container-fluid">
        <div class="row">

            <div class="col ">
                <h1>Merchant Services</h1>
                <hr class="separadorr">
                <p class="texto-solutions">
                    There are virtually millions of merchant service processing systems in the world, but none provide full security for their customers. Fraud is increasing every year with criminals find new ways to infiltrate these devices. We have developed a service
                    to curb fraud from the point a card is swiped to the point the criminal sends a signal to obtain the information. We are proud to be the leaders in the field of security for merchant service processing systems.
                </p>
            </div>
            <div class="col ">

                <img src="assets/img/tarjeta.webp" alt="">
            </div>

        </div>
    </div>
</section>
<!-- *POWER SUPPLY -->

<section class="contenido-Solutions power-suply" [ngsReveal]="{reset:true, duration:2000, origin:'bottom', distance:'400px'}">
    <div class="container">
        <div class="row">


            <div class="col ">
                <h1>Power Supply</h1>
                <hr class="separadorr">
                <p class="texto-solutions">With the increase in Technology there also comes the need in providing a reliable source of power for your security solutions. Our unique power supply ensures the maximum amount of power needed for your network of systems in place.
                </p>
                <img src="assets/img/solutions.webp" alt="">

            </div>


        </div>
    </div>
</section>

<!-- *COMMUNICATIONS -->
<section class="contenido-Solutions" [ngsReveal]="{reset:false, duration:2000}">
    <h1>Communications</h1>
    <hr class="separadorr">
    <p class="texto-solutions">
        The netwotk of lot devices has expanded in the upcoming year with more devices being connected across an array of industries. We provide security solutions for those devices in many different sectors that are lacking security solutions. Our technology
        is equipped with the most advanced security that can be implemented in various industries.
    </p>
    <div class="container">
        <div class="row">


            <div class="col ">
                <img class="img-comunitacions" src="assets/img/communication1.webp" alt="">

            </div>
            <div class="col ">

                <img class="img-comunitacions" src="assets/img/communication2.webp" alt="">

            </div>
            <div class="col ">

                <img class="img-comunitacions" src="assets/img/communication4.webp" alt="">

            </div>

        </div>
    </div>
</section>

<!-- *FORMULARIO -->
<section id="contact" class="contenido-sections Formulario card-transition ">
    <div class="container">
        <div class="row">

            <div class="col">

                <h1>{{ "FORM.TITLE1" | translate }}</h1>
                <h2>{{ "FORM.TITLE2" | translate }}</h2>
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-body">
                            <form (ngSubmit)="contactForm(form)" #form="ngForm" method="post" onsubmit="return submitUserForm();">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="firstname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.FIRSTNAME" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lastname" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.LASTNAME" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" email name="email" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.EMAIL" | translate }}</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="phone" ngModel required minlength="5" placeholder="name@example.com">
                                    <label class="text-muted">{{ "FORM.PHONE" | translate }}</label>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" ngModel required minlength="5" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea" class="text-muted">{{ "FORM.MESSAGE" | translate }}</label>


                                    <div class="g-recaptcha" style="color:cornsilk;" data-sitekey="6LdKUgEbAAAAAA1VZgWctCI7GO9XT9gYUp3sOno0" data-callback="verifyCaptcha">
                                        Favor de resolver el reCAPTCHA, en caso de que no aparezca presione el botón de recargar.
                                    </div>



                                    <div id="g-recaptcha-error "></div>
                                    <div class="modal-footer d-flex justify-content-center ">
                                        <button type="submit " id="btn1" name="submit" value="submit" disabled class="btn btn-lg ">{{ "FORM.BUTTON" | translate }}</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>